<div
  class="
    flex
    items-center
    justify-between
    px-4
    py-2
    text-gray-500
    text-sm
  "
>
  <div class="w-1/4">1 item left</div>
  <div
    class="
      flex
      flex-grow
      items-center
      justify-center
      leading-none
    "
  >
    <button
      class="
        appearance-none
        border
        border-red-300
        focus:outline-none
        font-hairline
        hocus:border-red-200
        mx-1
        px-2
        py-1
        rounded
      "
    >
      All
    </button>
    <button
      class="
        appearance-none
        border
        border-transparent
        focus:outline-none
        font-hairline
        hocus:border-red-200
        mx-1
        px-2
        py-1
        rounded
      "
    >
      Active
    </button>
    <button
      class="
        appearance-none
        border
        border-transparent
        focus:outline-none
        font-hairline
        hocus:border-red-200
        mx-1
        px-2
        py-1
        rounded
      "
    >
      Completed
    </button>
  </div>
  <button
    class="
      appearance-none
      focus:outline-none
      font-hairline
      hocus:underline
      text-right
      w-1/4
    "
  >
    Clear Completed (1)
  </button>
</div>
