<div class="border-b flex items-center">
  <button
    class="
      focus:outline-none
      hocus:text-gray-700
      px-5
      text-gray-400
      text-2xl
    "
  >
    <span class="inline-block rotate-90">❯</span>
  </button>
  <Input
    placeholder="What needs to be done?"
    class="
      font-hairline
      outline-none
      px-2
      py-4
      placeholder-gray-400
      text-2xl
      text-gray-800
      w-full
    "
    @value={{this.text}}
    @enter={{fn this.create}} {{!-- I shouldn't need fn/action here! --}}
  />
</div>
