<div
  class="
    bg-gray-100
    font-hairline
    h-screen
    w-full
  "
>
  <div class="max-w-xl mx-auto">
    <h1
      class="
        leading-none
        py-3
        text-7xl
        text-center
        text-red-200
      "
    >
      todos
    </h1>
    <div class="bg-white shadow">
      <Prompt />
      <Todos @todos={{@model}} />
      <Footer />
    </div>
  </div>
</div>